*{
    box-sizing: border-box;
}
body{
    transition: .3s ease all;
}
/* header */
header img {
    width: 100%;
}
header{
    margin-bottom: 2rem;
}
.h5, .card-title, .card-text{
    color: white;
}
body, #navbar-bgcolor, footer{
    background-color: #000000;
}
/* cards */
.card{
    display: flex;
    flex-direction: row;
    background-color: #212529;
}
.container-img{
    width: 8rem;
    height: 10rem;
}
.container-img img{
    width: 100%;
}
.card-hover:hover{
    background-color: #11111b!important;
}
/* cards promociones */
.card-promociones{
    width: 18rem;
    margin: 1rem;
    padding: .5rem;
}
.container-img-promociones{
    width: 16rem;
    height: 12rem;
}
.container-img-promociones img {
    width: 100%;
    height: 100%;
}
footer{
    padding: .5rem;
}

/* mood light */
.switch{
    background-color: #343D5B;
    border-radius: 25%;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}
.switch::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow:  0px 0px 2px 2px rgb(0,0,0,.2);
}
.switch.active {
    background: orange;
    color: #000000;
}
.switch.active::after{
    right: 0;
    left: unset;
}
span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: white;
}

.light{
    background-color: #FFFFFF;
}
.light h5, .light h6{
    color: #5C636A!important;
}
.light #navbar-bgcolor, .light footer{
    background-color: #ffffff;
}
.light .card{
    background-color: #5C636A;
}
.light .card-title, .light medium{
    color: #ffffff!important;
}
.light .card:hover{
    background-color: #5c636a8f!important;
}
/* responsive */
@media screen and (max-width: 768px){
    .navbar-nav{    
        width: 100%;
        display: flex;
        flex-direction: row!important;
        justify-content: center!important;
        flex-wrap: wrap;
    }
    .h6{
        padding: .2rem!important;
    }
    .switch::after {
        width: 27px;
        height: 27px;
    }
    span{
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    footer{
        padding: .3rem;
    }
}
@media screen and (max-width: 425px){
    .h5{
        padding: 0.5rem!important;
    }
    .btn{
        margin: 0.2rem!important;
        padding: 0.2rem!important;
    }
    .main{
        margin-bottom: 1rem!important;
        padding-top: 0.5rem!important;
        padding-left: 0.5rem!important;
        padding-right: 0.5rem!important;
        padding-bottom: 3rem!important;
    }
    .container-img {
        width: 8rem!important;
    }
    .card-title{
        font-size: .9rem!important;
    }
    .card-text{
        font-size: .8rem!important;
    }
    .h6, .h6 a{
        font-size: .7rem!important;
    }
    svg{
        width: .7rem!important;
    }
    .switch::after {
        width: 23px;
        height: 23px;
    }
    span{
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
}
@media screen and (max-width: 375px){
    a{
        font-size: .8rem!important;
    }
    .btn {
        margin: 0.1rem!important;
        padding: 0.1rem!important;
    }
    .main{
        padding-top: 0.1rem!important;
    }
    hr{
        margin:.2rem!important;
        margin-bottom: .7rem!important;
    }
}
@media screen and (max-width: 320px){
    .card-text{
        font-size: 0.68rem!important;
    }
    .h5{
        font-size: 1.1rem!important;
    }
    .container-img-promociones {
        width: 14rem;
        height: 10rem;
    }
    .h6, .h6 a{
        font-size: .5rem!important;
    }
    .switch::after {
        width: 22px;
        height: 22px;
    }
    span{
        width: 18px;
        height: 18px;
        line-height: 18px;
    }
}