*{
    box-sizing: border-box;
}
header img {
    width: 100%;
}
header{
    margin-bottom: 2rem;
}
.h5, .card-title, .card-text{
    color: white;
}
.background, #navbar-bgcolor, footer{
    background-color: #000000;
}
.container-img{
    width: 8rem;
    height: 10rem;
}
.container-img img{
    width: 100%;
}
.card-promociones{
    width: 18rem;
    margin: 1rem;
    padding: .5rem;
}
.container-img-promociones{
    width: 16rem;
    height: 12rem;
}
.container-img-promociones img {
    width: 100%;
    height: 100%;
}
.card-hover:hover{
    background-color: #11111b!important;
}
